<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlDialectInspection -->
<mapper namespace="com.github.izhangzhihao.SSMSeedProject.Mapper.StudentMapper">
    <resultMap type="Student" id="StudentResult">
        <id property="studId" column="stud_id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="dob" column="dob"/>
        <!--<association property="address" column="addrid" select="com.github.izhangzhihao.SSMSeedProject.Mapper.AddressMapper.findAddressById"/>-->
    </resultMap>

    <!--<resultMap type="Student" id="StudentWithAddressResult">
        <id property="studId" column="stud_id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="address.addrId" column="addrid" />
        <result property="address.street" column="street" />
        <result property="address.city" column="city" />
        <result property="address.state" column="state" />
        <result property="address.zip" column="zip" />
        <result property="address.country" column="country" />
    </resultMap>-->

    <select id="findAllStudents" resultMap="StudentResult">
        SELECT * FROM STUDENTS
    </select>
    <select id="findStudentById" parameterType="int" resultType="Student">
        SELECT STUD_ID AS STUDID, NAME, EMAIL, DOB
        FROM STUDENTS WHERE STUD_ID=#{Id}
    </select>
    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true"
            keyProperty="studId">
        INSERT INTO STUDENTS(NAME,EMAIL,DOB)
        VALUES(#{name},#{email},#{dob})
    </insert>
    <insert id="updateStudent" parameterType="Student">
        UPDATE STUDENTS SET NAME=#{name} , EMAIL =#{email}, DOB =#{dob}
        WHERE STUD_ID = #{studId}
    </insert>
    <insert id="deleteStudent" parameterType="int">
        DELETE FROM STUDENTS
        WHERE STUD_ID = #{studId}
    </insert>

    <!--<select id="selectStudentWithAddress" parameterType="int"
            resultMap="StudentWithAddressResult">
        SELECT STUD_ID, NAME, EMAIL, A.ADDRID, STREET, CITY, STATE,
        ZIP, COUNTRY
        FROM STUDENTS S LEFT OUTER JOIN ADDRESSES A ON
        S.ADDR_ID=A.ADDR_ID
        WHERE STUD_ID=#{studId}
    </select>-->

    <select id="findStudentByIdWithAddress" parameterType="int" resultType="Student">
        SELECT * FROM STUDENTS WHERE STUD_ID=#{Id}
    </select>
</mapper>
